@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@300;500&family=Lato:wght@400;700&family=Nunito:wght@200;300;400;600;800;900&family=REM:wght@300;400;500&family=Raleway:wght@300;400;500;600;800&display=swap");

:root {
  /* Fonts */
  --fnf--Handjet: "Handjet", cursive;
  --fnf--Lato: "Lato", sans-serif;
  --fnf--Nunito: "Nunito", sans-serif;
  --fnf--Rem: "REM", sans-serif;
  --fnf--Raleway: "Raleway", sans-serif;

  /* Colors */
  --gray: #bbbbbb;
  --gray_to: #bbbbbb80;
  --blue: #3051f1;
  --red: #f73344;
  --purple: #c92bb7;
  --mugi_rose: #ea5f8b72;
  --mugi_violet: #da5fea72;
  --orange: #fa8e37;
  --mugi_orange: #ff833cbd;
  --yellow: #fcdf8f;
  --mugi_yellow: #f9d565;
  --mugi_yellow_to: #f9d465bd;
  --mugi_purple: #aa5fea;
  --mugi_purple_to: #a95fea72;
  --mugi_green: #c8f965bd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3051f1;
  font-family: sans-serif;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 60px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.logo {
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
}

.nav-menu {
  margin-right: 50px;
  display: flex;
  list-style: none;
}

.nav-menu-item {
  margin: 0 10px;
  line-height: 60px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--mugi_yellow);
}

.nav-toggle {
  color: white;
  border: none;
  font-size: 30px;
  background: none;
  margin-right: 50px;
  line-height: 50px;
  display: none;
  cursor: pointer;
}

/* Main product */

.main-product {
  background: linear-gradient(rgba(80, 80, 80, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/Landscape-Wpp.jpg);
  /* background-attachment: fixed; */
  background-size: cover;
  min-height: 100vh;
  padding: 80px 50px;
}

.main-product hgroup {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 60%;
  min-width: max-content;
}

.main-product hgroup h1 {
  font-family: var(--fnf--Nunito);
  font-size: 6rem;
}

.main-product hgroup h2 {
  font-family: var(--fnf--Handjet);
  font-size: 1.5rem;
}

.main-product hgroup h2 span {
  color: var(--mugi_yellow);
  text-transform: uppercase;
}

.info-slider {
  position: relative;
  max-width: 1120px;
  margin: 100px auto 0px;
}

.slider--inner {
  max-width: 1000px;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.slider-container {
  display: flex;
}

.button-move {
  border: none;
  position: absolute;
  width: 150px;
  height: 285px;
  z-index: 10;
  background-color: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
}

.btn-left {
  left: 60px;
}

.btn-right {
  right: 60px;
}

.comment-item-card {
  border-radius: 5px;
  margin: 0 25px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 600px;
  height: 350px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-item-card .card-text {
  color: white;
  max-width: 270px;
}

.comment-item-card .card-text h3 {
  background-color: #392834;
  border-radius: 5px;
  text-align: center;
  font-family: var(--fnf--Handjet);
  color: var(--mugi_yellow);
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.comment-item-card .card-text p {
  /* padding: 10px; */
  letter-spacing: 1px;
  /* text-align: justify; */
  line-height: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--fnf--Nunito);
}

.card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--mugi_yellow_to);
}

.card-img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ico-container {
  text-align: center;
  width: 120px;
  height: 120px;
  color: var(--mugi_yellow_to);
  font-size: 6.5rem;
}

/* Section two */

.elements-section {
  background: linear-gradient(#392834, #0f0a0d);
  padding: 80px 50px;
  height: 100vh;
  box-shadow: 0px -15px 10px #392834;
}

.elements-section .text-container {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.elements-section .text-container h2 {
  font-family: var(--fnf--Raleway);
  font-size: 6rem;
}

.elements-section .text-container p {
  color: var(--mugi_yellow);
  font-family: var(--fnf--Nunito);
  font-weight: 600;
  font-size: 1.5rem;
}

.elements-container {
  display: flex;
  overflow: hidden;
  margin: auto;
  max-width: 1440px;
  height: 70%;
}

.elements-container .element-img {
  overflow: hidden;
  margin: 10px;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  transition: 1s;
}

.elements-container .element-img-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.347)),
    url(../img/img-section-two/hourglass.jpg);
}
.elements-container .element-img-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.347)),
    url(../img/img-section-two/coffeeBooks.jpg);
}
.elements-container .element-img-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.347)),
    url(../img/img-section-two/coffeeoto.jpg);
}
.elements-container .element-img-four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.147)),
    url(../img/img-section-two/notas.jpg);
}
.elements-container .element-img-five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.347)),
    url(../img/img-section-two/libros.jpg);
}

.elements-container .element-img .label {
  position: absolute;
  bottom: 15px;
  border-radius: 50px;
  overflow: hidden;
}

.elements-container .element-img .label .element-icon {
  text-align: center;
  color: var(--mugi_purple);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.elements-container .element-img-active {
  flex-grow: 3;
  max-width: 600px;
  border: 5px solid var(--mugi_yellow);
  border-radius: 25px;
}

.elements-container .element-img-active .label {
  position: absolute;
  opacity: 1;
  left: 15px;
  right: 15px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid var(--mugi_yellow);
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 1s;
}

.elements-container .element-img-active .label .element-text p {
  max-height: 100px;
  min-height: 90px;
  font-size: 17px;
  text-align: justify;
  width: 360px;
  color: white;
}

.elements-container .element-img-active .label .element-text h2 {
  font-family: var(--fnf--Nunito);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--mugi_yellow);
}

.elements-container .element-img-active .label .element-icon {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--mugi_yellow);
  font-size: 3rem;
  padding: 10px;
  border-radius: 50%;
}

.elements-container .element-img-active .label .element-text {
  font-size: 16px;
  max-width: 70%;
  max-height: 100%;
  min-height: 130px;
}

.elements-container .element-img:not(.element-img-active) {
  flex-grow: 1;
  border: 5px solid var(--mugi_purple);
  border-radius: 25px;
  opacity: 0.5;
  transition: 1s ease-in-out;
}

.elements-container .element-img:not(.element-img-active) .label {
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  padding: 10px;
}

.elements-container .element-img:not(.element-img-active) .label .element-text {
  display: none;
}

/* Section 3 */

.devices {
  padding: 80px 50px;
  background: linear-gradient(rgba(22, 1, 32, 0.659), rgba(26, 16, 1, 0.829)),
    url(../img/fondo-s-two.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 5px 10px #0f0a0d;
}

.devices .text-container {
  margin: 0px auto 30px;
  color: white;
  text-align: center;
  min-width: max-content;
}

.devices .text-container h2 {
  font-family: var(--fnf--Nunito);
  font-size: 5em;
}
.devices .text-container p {
  font-family: var(--fnf--Raleway);
  font-weight: 800;
}

.devices-container {
  max-width: 1440px;
  margin: auto;
  padding: 10px;
}

.colum-container {
  max-width: 1400px;
  display: flex;
  margin: auto;
}

.colum-container .colum-content {
  min-width: 350px;
  width: 80%;
  margin: 5px;
  background-color: var(--mugi_yellow_to);
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}

.colum-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.colum-container-two {
  width: 75%;
}
.colum-container-two .colum-content img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.colum-content h2 {
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  color: white;
  background-color: #39283487;
  margin: 30px auto 0;
  min-width: max-content;
  max-width: max-content;
}

.colum-content p {
  line-height: 20px;
  padding: 15px;
  margin: 0px 20px;
  height: 140px;
}

/* media Query */
@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 50px;
  }

  .nav-menu {
    padding: 10px 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 40%;
    right: 0;
    top: 50px;
    background-color: rgb(6, 28, 1);

    height: calc(100% - 50px);
    overflow-y: auto;

    right: -40%;
    transition: right 0.5s;
  }

  .nav-menu-item {
    line-height: 60px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: lawngreen;
  }

  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    right: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}

@media screen and (max-width: 1120px) {
}
